@model SiliconAward.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutAdminlteBlank.cshtml";
}

<div class="box box-info">
    <div class="box-header with-border">
        <h3 style="display: block;" class="box-title">بازیابی کلمه عبور</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form asp-controller="Account" asp-action="ResetPassword"
          asp-route-returnurl="@ViewData["ReturnUrl"]"
          method="post" class="form-horizontal" role="form">
        @Html.AntiForgeryToken()
        <div class="box-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="col-sm-6 control-label">شماره همراه را وارد کنید</label>
                <div class="col-sm-6">
                    <input asp-for="PhoneNumber" style="text-align:center;" type="tel" class="form-control" placeholder="09122222222">
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <span class="text-danger">@ViewData["Message"]</span>
                </div>
            </div>            
        </div>
        <div class="box-footer">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">ادامه</button>
            </div>
            <div class="col-sm-12 text-center" style="padding-top:15px">
                <a asp-controller="Account" asp-action="Login" class="text-center">اگر حساب کاربری دارید اینجا کلیک کنید</a>
            </div>
        </div>
        <!-- /.box-footer -->
    </form>
</div>

<!-- /.box-body -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}