
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@(Html.Kendo().Grid<SiliconAward.Models.CompetitionField>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Title);
            columns.Bound(p => p.CreateTime).Width(100);
            columns.Bound(p => p.LastUpdateTime).Width(100);            
            columns.Command(command => { command.Edit(); command.Destroy(); }).Width(160);
        })
        .ToolBar(toolbar => toolbar.Create())
        .Editable(editable => editable.Mode(GridEditMode.PopUp))
        .Pageable()
        .Sortable()
        .Scrollable()
        .HtmlAttributes(new { style = "height:430px;" })
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(20)
            .Events(events => events.Error("error_handler"))
            .Model(model => model.Id(p => p.Id))
            .Create(update => update.Action("EditingPopup_Create", "CompetitionFields"))
            .Read(read => read.Action("EditingPopup_Read", "CompetitionFields"))
            .Update(update => update.Action("EditingPopup_Update", "CompetitionFields"))
            .Destroy(update => update.Action("EditingPopup_Destroy", "CompetitionFields"))
        )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>